input[type=email], input[type=password] , input[id=username], input[type=text]{
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #52489C;
    box-sizing: border-box;
    background-color: #EBEBEB;
}
#dodajUporabnik {
    border: 3px solid #52489C;
}
#loginform {
    border: 3px solid #52489C;
}
button[id=register]{
    background-color: #F45B69;
    width: 100%;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.6;
}
.container {
    padding: 25px;
}
div[id=cont]{
    text-align: right;
   }
#navbarid{
    background-color:#52489C;
}
#navbarbutton{
    color:black;
    border-color:#52489C;
}
#navbarsearch{
    border-color:black;
}
#navbarbutton:hover{
    background-color: white;
    opacity:50%;
}
body{
    background-color: #EBEBEB;
}