input[type=email], input[type=password] , input[id=username], input[type=text]{
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #90a407;
    box-sizing: border-box;
}
#dodajUporabnik {
    border: 3px solid #90a407;
}
#prijavaform {
    border: 3px solid #90a407;
}
button[id=register]{
    background-color: #90a407;
    width: 100%;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}
button:hover {
    opacity: 0.6;
}
.container {
    padding: 25px;
    background-color: white;
    color:black;
}
div[id=cont]{
    text-align: right;
   }
#navbarid{
    background-color:#90a407;
}
#navbarbutton{
    color:black;
    border-color:#90a407;
}
#navbarsearch{
    border-color:black;
}
#navbarbutton:hover{
    background-color: #90a407;
    opacity:50%;
}