<div class="main">
    <div class="container">
        <div class="collection_text">Calculate your one rep max</div>
    </div>
    <form>
        <div class="form-group">
            <label>WEIGHT</label>
            <input type="text" name="weight" class="form-control" placeholder="0">
        </div>
        <div class="form-group">
            <label>REPS</label>
            <input type="text" name="reps" class="form-control" placeholder="0">
        </div>
        <button type="submit" style="align-items: center"class="submit btn btn-primary" id="uredi">CALCULATE</button>
    </form>
    <h3 class="answer"></h3>
</div>
<script src=""></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    $('.submit').click(function(e) {
        e.preventDefault();
        var weight, reps = 0;
        var weight = parseFloat($('input[name="weight"]').val());
        var reps = parseFloat($('input[name="reps"]').val());

        var oneRepMax = Math.round((100 * weight) / (101.3 - (2.67123 * reps)));

        $('.answer').html('Your One Rep Max is: ' + oneRepMax);
    });
</script>
<link rel="stylesheet" href="../../stylesheets/basic.css">