<!DOCTYPE html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <link rel="icon" href="../../img/favicon.ico" type="image/gif"/>
    <title>{{title}}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Prevedeni in minimizirani slogi CSS verzije 4.5.2 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
    <script src="../../javascripts/scripts.js"></script>
    <!-- Podporni knjižnici jQuery in Popper -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <!-- Prevedena in minimizirana JavaScript koda verzije 4.5.2 -->

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <!-- Bootstrap -->
    <!-- style css -->
    <link rel="stylesheet" href="../../stylesheets/style2.css">
    <link rel="stylesheet" href="../../stylesheets/styleDomacaStran.css">


    <link rel="stylesheet" href="../../stylesheets/customStyle.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<!-- body -->
<body class="main-layout">
<!-- header section start -->
<div class="header_section" style="background-color: #52489C">
    <div class="container">
        <script id="t" type="text/x-handlebars-template">
        </script>
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button style="background-color:white" class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <img class="logo" src="/images/dog_walkers_logo2.png">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-item nav-link" href="/">Programs</a>
                            </li>
                            <li class="nav-item" style="visibility:hidden">
                                <a class="nav-item nav-link" href="/myProfile">Profile</a>
                            </li>
                            <li class="nav-item" style="visibility:hidden">
                                <a class="nav-item nav-link" href="/programsList">Povpraševanje</a>
                            </li>
                            <li class="nav-item" style="visibility:hidden">
                                <a class="nav-item nav-link" href="/myProgramsList">Storitve</a>
                            </li>
                            <li class="nav-item" style="visibility:hidden">
                                <a class="nav-item nav-link" href="/addWorkoutProgram">Objavi</a>
                            </li>
                            <li class="nav-item" style="visibility:hidden">
                                <a class="nav-item nav-link" href="/addExercise">Add&nbspexercise</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-item nav-link" href="/login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-item nav-link" href="/registration">Register</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <br>
            </div>
        </div>

    </div>
</div>
{{{body}}}
</div>
</body>
<div class="copyright" style="position: absolute;bottom: 0;">2021 All rights reserved.</div>
<script type="text/javascript" src="../../javascripts/preverjanje.js"></script>
<script type="text/javascript" src="../../javascripts/filtri.js"></script>

</html>
