<div class="row banner">
    <div class="col-12">
        <h1>{{title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 col-lg-8">
        <p>{{vsebina}}</p>
    </div>
</div>

<p>Vnesite podatke za želen oglas</p>
<div class="form-group">
    <label>Workout name:</label>
    <input id="naslov" type="text" class="form-control" name="naslov" required>
</div>