<form id="dodajOglas" action="" method="post" role="form">
        <div class="container">
            <div class="collection_text">Make a workout program</div>
        </div>
            <div class="container">
                <div class="racing_shoes">
                    <div class="form-group" style="padding: 4px">
                        <label>Program name:</label>
                        <input style="background-color: #EBEBEB" id="naslov" type="text" class="form-control" name="naslov" required>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12-col-md-6">
                                <div class="form-group">
                                    <label style="color: black">Program difficulty</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input  id="difficulty" type="radio" class="form-check-input" name="difficulty"
                                                   value="amateur">Amateur
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="difficulty" type="radio" class="form-check-input" name="difficulty"
                                                   value="intermediate" style="color: black">Intermediate
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="difficulty" type="radio" class="form-check-input" name="difficulty"
                                                   value="advanced">Advanced
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="padding: 4px">
                        <label>Describe the program:</label>
                        <textarea style="background-color: #EBEBEB" id="opisZahtev" class="form-control" rows="5" name="opisZahtev" required></textarea>
                    </div>
                    <div class="form-group" style="text-align:center">
                        <button style="align-items: center"class="btn btn-primary" id="uredi">Submit</button>
                        <button href="/myEvents" type="button" id="izbrisi" class="btn btn-light">Cancel</button>
                    </div>
                </div>
            </div>
</form>
