<form id="dodajOglas" action="" method="post" role="form">
    <div class="container">
        <div class="container">
            <div class="collection_text">Objavi nov oglas</div>
        </div>

        <div class="container bg-light2 flex-wrapper">
            <div class="container">
                <div class="racing_shoes">
                    <p>Vnesite podatke za želen oglas</p>
                    <div class="form-group">
                        <label>Ime vašega oglasa:</label>
                        <input id="naslovOglasa" type="text" class="form-control" name="naslovOglasa" required>
                    </div>
                    <div class="form-group">
                        <label>Kje bo vaš dogodek potekal (kraj):</label>
                        <input id="kraj" type="text" class="form-control" name="kraj" required>
                    </div>
                    <div class="form-group">
                        <label>Kje bo vaš dogodek potekal (pošta)</label>
                        <input id="posta" type="text" class="form-control" name="posta" required>
                    </div>
                    <div class="form-group">
                        <label>Kje bo vaš dogodek potekal (ulica)</label>
                        <input id="ulica" type="text" class="form-control" name="ulica" required>
                    </div>
                    <div class="form-group">
                        <label>Trajanje</label>
                        <input id="trajanje" type="text" class="form-control" name="trajanje" required>
                    </div>
                    <div class="form-group">
                        <label>Kje bo vaš dogodek potekal (hisnaSt)</label>
                        <input id="hisnaSt" type="text" class="form-control" name="hisnaSt" required>
                    </div>
                    <div class="form-group">
                        <label>Kontakt</label>
                        <input id="kontakt" type="text" class="form-control" name="kontakt" required>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12-col-md-6">
                                <div class="form-group">
                                    <label>Izberi tip oglasa</label>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="jePovprasevanje" type="radio" class="form-check-input" name="jePovprasevanje"
                                                   value="true">Povpraševanje
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="jePovprasevanje" type="radio" class="form-check-input" name="jePovprasevanje"
                                                   value="">Oglas
                                        </label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row form-group">
                            <div class="col-xs-12-col-md-4 nejcRows">
                                <label>Kdaj bo vaš dogodek potekal:</label>
                                <input id="datum" type="datetime-local" class="form-control" name="datum" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Daljši in podrobnejši opis dogodka (vsaj 50 znakov):</label>
                        <textarea id="opisZahtev" class="form-control" rows="15" name="opisZahtev" required></textarea>
                    </div>
                    <div class="form-group" style="text-align:center">
                        <button style="align-items: center"class="btn btn-primary" id="uredi">Potrdi</button>
                        <button href="/myEvents" type="button" id="izbrisi" class="btn btn-light">Prekliči</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</form>
