<div class="container">
    <div class="container">
        <div class="collection_text">Storitve</div>
    </div>
    <div class="table-responsive-sm">
        <table id="eventTable" class="table table-striped" style="background-color: #a5c9a5; cursor: pointer">
            <tr>
                <th>Workout program</th>
            </tr>

            {{#each programi as | programi |}}
                <tr onclick="window.location = '/eventDetails/{{idMainProgram}}'">
                    <td id="uporabnik1">{{naslov}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>
