<body>
<center> <h1> Pozabljeno geslo </h1> </center>
<form id="pozabljenoGesloForm" action ="" method="post" role="form">
    <div class="container" id="box">
        <label>Elektronski naslov :</label>
        <input type="text" placeholder="Vnesite elektronski naslov" id="email" name="email" required>
        <button id=register href="/memes" type="submit">Nadaljuj</button>
        Že veš geslo?
        <a href="/prijava">Prijavi se</a>
    </div>
</form>
</body>

