<body>
<center> <h1> Pozabljeno geslo2 </h1> </center>
<form id="pozabljenoGesloForm2"  method="post" role="form" action="/uporabniki/posodobi/{{idKoda}}">
    <div class="container" >
        Vnesite novo geslo.
        <br>
        <input type="password" placeholder="Vnesite geslo" id="password" name="password" required>
        <input type="password" placeholder="Vnesite geslo" id="password2" name="password2" required>
        <br>
        <button id="btn2" class="btn btn-primary">Nadaljuj</button>
        Že veš geslo?
        <a href="/prijava">Prijavi se</a>
    </div>
</form>
</body>

