<div>
    <center> <h1> Obrazec za vpis </h1> </center>
    <form id="prijavaform" action ="" method="post" role="form">
        <div class="container" id="box">
            <label>Email</label>
            <input type="text" placeholder="Input email" id="email" name="email" required>
            <label>Password</label>
            <input type="password" placeholder="Input password" id="password" name="password" required>
            <button href="/" id=register type="submit">Log in</button></a>
            <br>

            Don't have an account yet?
            <a href="/registracija">Register!</a>
            <br>
        </div>
    </form>
</div>