<div>
    <center> <h1> Obrazec za vpis </h1> </center>
    <form id="prijavaform" action ="" method="post" role="form">
        <div class="container" id="box">
            <label>Elektronski naslov :</label>
            <input type="text" placeholder="Vnesite elektronski naslov" id="email" name="email" required>
            <label>Geslo : </label>
            <input type="password" placeholder="Vnesite geslo" id="password" name="password" required>
            <button href="/" id=register type="submit">Vpis</button></a>
            <br>
            <input type="checkbox" checked="checked"> Zapomni me
            <br>
            Še nimaš računa?
            <a href="/registracija">Registriraj se!</a>
            <a href="/pozabljenOgeslo">PozabljenoGeslo</a>
            <a href="/"><div id="cont"> Nadaljuj brez vpisa.</div></a>
        </div>
    </form>
</div>