<div class="container">
    <div class="container">
        <div class="collection_text">Programs</div>
    </div>
    <div class="table-responsive-sm">
        <table id="eventTable" class="table table-hover" style="background-color: #59C3C3;width: 500px;margin: auto; cursor: pointer">
            <thead>
            <tr>
                <th>Workout program</th>
                <th>Difficulty</th>
            </tr>
            </thead>
            <tbody>
            {{#each programi as | programi |}}
                <tr onclick="window.location = '/eventDetails/{{_id}}'">
                    <td id="uporabnik1">{{naslov}}</td>
                    <td >{{difficulty}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
